/* footer */

.address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.address-text {
  color: $hero-text-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.logo-footer {
  color: $hero-text-color;
}

.link.footer {
  margin-top: 9px;
  color: $address-link-footer;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-bg {
  background-color: $hero-footer-bg;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* join */
.footer-bg .container {
  display: flex;
  align-items: baseline;
  /* align-items: center; */
}

.footer-bg .join-section {
  margin-left: 70px;
}

.social-networks .link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  fill: $hero-text-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: $accent-color;
  }
}

.join-text {
  margin-bottom: 20px;
  color: $hero-text-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
